<!-- Card -->
<mat-card class="login-page">

    <!-- Card Title -->
    <mat-card-title class="login-title">
        Login
    </mat-card-title>

    <!-- Card Content -->
    <mat-card-content>

        <!-- Login Form -->
        <form [formGroup]="form" class="login-form">

            <!-- Email -->
            <mat-form-field>
                <label for="email">Email</label>
                <input matInput type="email" placeholder="Email" formControlName="email" name="email">
            </mat-form-field>

            <!-- Password -->
            <mat-form-field>
                <label for="password">Password</label>
                <input matInput type="password" placeholder="Password" formControlName="password" name="password">
            </mat-form-field>

            <!-- Login Button -->
            <button mat-raised-button color="primary" (click)="login()" [disabled]="!form.valid">
                Login
            </button>

        </form>

    </mat-card-content>

</mat-card>
