<div class="course">

    <h2>Search All Lessons</h2>

    <!-- Search Text -->
    <mat-form-field class="search-bar">
        <input matInput placeholder="Type your search" #searchInput autocomplete="off">
    </mat-form-field>

    <!-- Search Button -->
    <button
        class="search"
        mat-raised-button color="primary"
        (click)="onSearch(searchInput.value)"
    >
        <mat-icon>search</mat-icon>
        Search
    </button>

    <!-- Search Results -->
    <ng-container *ngIf="(searchResults$ | async) as lessons">
        <table class="lessons-table mat-elevation-z7">

            <!-- Header Row -->
            <thead>
                <th>#</th>
                <th>Description</th>
                <th>Duration</th>
            </thead>
    
            <!-- Data Row(s) -->

            <tr class="lesson-row" *ngFor="let lesson of lessons">
                <td class="seqno-cell">{{ lesson.seqNo }}</td>
                <td class="description-cell">{{ lesson.description }}</td>
                <td class="duration-cell">{{ lesson.duration }}</td>
            </tr>

        </table>
    
    </ng-container>

</div>
